/************************** SET DEFAULT STYLE **************************/

.navbar {
	margin:0;
	padding: 0;
}

#menu-main-navigation {
	background-color: #563d7c;
	list-style-type:none;
	padding: 0 10px;
	height: 40px;
	width:100%;
	opacity: 0;
}

#menu-main-navigation > li:first-child > a{
  padding-left: 0;
}

#menu-main-navigation > li > a{
  line-height: 10px;
  color: white;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 20px;
	line-height: 1.5em;
}

#menu-main-navigation > li > a > span{
  display: none;
}

#menu-main-navigation > li > a:hover{
  color: yellow;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent !important;
}

#menu-main-navigation li.open > a{
  background-color: #6c3a83;
  color: yellow;
}

#menu-main-navigation .dropdown-menu{
  min-width: 150px;
}

#menu-main-navigation .dropdown-menu > *{
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	text-align: inherit;
	white-space: nowrap;
	background: 0 0;
	border: 0;
}



.custom-navbar-submenu li{
  border-bottom: 1px solid lightgrey;
}

.custom-navbar-submenu li:last-child{
  border-bottom: 0;
}

.custom-navbar-submenu .dropdown {
    position: relative;
}

.custom-navbar-submenu .dropdown>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 5px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.container-menu-size{
	width: 80%;
	margin: auto;
  padding: 0;
}
